body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(34, 125, 4), #053e31);
    animation: cambioColor 0.8s infinite alternate;
  }

  @keyframes cambioColor {
    0% {
      background: linear-gradient(rgb(34, 125, 4),#053e31);
    }
    100% {
      background: linear-gradient(#053e31, rgb( 34, 125, 4));
    }
  }

  .recuperar {
    background: linear-gradient(90deg, #86c029, #296441);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }

  .recuperar h2 {
    margin-bottom: 20px;
    color: #a6cdc4;
  }

  .recuperar input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  .ilustrativo{
    width: 52px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .recuperar button {
    width: 100%;
    padding: 10px;
    background-color: rgb(166, 226, 70);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }



  .recuperar a {
    color: #ffffff;
    text-decoration: none;
  }

  .recuperar a:hover {
    text-decoration: underline;
  }

  .imagen{
    border: 1px solid #c5c6c8e0;
    border-radius: 25px;
    width: 250px;
    height: 300px;
  }

  .imagen1{
    border-radius: 25px;
    width: 25px;
    height: 29px;
  }