body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#d40606, #9f1d1d);
  animation: cambioColor 0.8s infinite alternate;
}

@keyframes cambioColor {
  0% {
    background: linear-gradient(#d40606,#9f1d1d);
  }
  100% {
    background: linear-gradient(#9f1d1d,#d40606);
  }
}

 
  .registro {
    background: linear-gradient(90deg, #ab6d30, #a63748);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }

  .registro h2 {
    margin-bottom: 20px;
    color: #cda6c6;
  }

  .registro input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  .ilustrativo{
    width: 52px;
    height: 40px;
    border-radius: 50%; /* Bordes redondeados para hacer un círculo */
    margin-bottom: 20px;
  }

  .registro button {
    width: 100%;
    padding: 10px;
    background-color: rgb(213, 84, 84);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }



  .registro a {
    color: #ffffff;
    text-decoration: none;
  }

  .registro a:hover {
    text-decoration: underline;
  }

  .imagen{
    border: 1px solid #c5c6c8e0;
    border-radius: 25px;
    width: 180px;
    height: 200px;
  }

  .imagen1{
    border-radius: 25px;
    width: 25px;
    height: 29px;
  }